[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/wycats/nerdtree.git
	ignore = untracked
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
	ignore = untracked
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = git://github.com/bingaman/vim-sparkup.git
	ignore = untracked
[submodule "bundle/vim-filesearch"]
	path = bundle/vim-filesearch
	url = git://github.com/jeetsukumaran/vim-filesearch.git
	ignore = untracked
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = git://github.com/nelstrom/vim-markdown-preview.git
	ignore = untracked
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
	ignore = untracked
[submodule "bundle/vim-ruby-debugger"]
	path = bundle/vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
	ignore = untracked
[submodule "bundle/vim-rspec"]
	path = bundle/vim-rspec
	url = git://github.com/skwp/vim-rspec.git
	ignore = untracked
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
	ignore = untracked
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
	ignore = untracked
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = untracked
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/honza/snipmate-snippets.git
	ignore = untracked
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
	ignore = untracked
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = git://github.com/vimoutliner/vimoutliner.git
	ignore = untracked
[submodule "bundle/TaskList"]
	path = bundle/TaskList
	url = git://github.com/vim-scripts/TaskList.vim.git
	ignore = untracked
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule "bundle/vim-slime"]
	path = bundle/vim-slime
	url = git://github.com/jpalardy/vim-slime.git
[submodule "bundle/screen"]
	path = bundle/screen
	url = git://github.com/ervandew/screen.git
	ignore = untracked
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git://github.com/flazz/vim-colorschemes.git
	ignore = untracked
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand.git
	ignore = untracked
[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = git://github.com/jeetsukumaran/vim-buffergator.git
	ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = untracked
[submodule "bundle/smartinput"]
	path = bundle/smartinput
	url = git://github.com/kana/vim-smartinput.git
	ignore = untracked
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = git://github.com/robertkrimen/jshint.vim.git
	ignore = untracked
[submodule "bundle/vim-liquid"]
	path = bundle/vim-liquid
	url = git://github.com/tpope/vim-liquid.git
	ignore = untracked
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
	ignore = untracked
[submodule "bundle/vim-markdown-jekyll"]
	path = bundle/vim-markdown-jekyll
	url = git://github.com/PProvost/vim-markdown-jekyll.git
  ignore = untracked
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
  ignore = untracked
[submodule "bundle/JavaScript-Indent"]
	path = bundle/JavaScript-Indent
	url = git://github.com/vim-scripts/JavaScript-Indent.git
  ignore = untracked
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/vim-scripts/vim-coffee-script.git
